.git
.gitignore
.github
README.md
docs
compose.yaml
*_test.go
*.md
pastesync
justfile
.dockerignore
tmp
dist
coverage.out
*.log
Dockerfile*
!Dockerfile
**/.DS_Store
**/node_modules
**/.idea
**/.vscode
