# Version control
.git
.github
.gitignore

# Documentation
*.md
docs

# CI/CD and configuration
*.yaml
*.yml
*.toml
justfile
LICENSE

# Local binaries and build outputs
pastesync
tmp
dist
coverage.out
*.log

# Design and raw assets
icons

# IDE and OS files
**/.DS_Store
**/node_modules
**/.idea
**/.vscode
